<?xml version="1.0" encoding="utf-8"?>
<RunSettings>
  <RunConfiguration>
    <MaxCpuCount>4</MaxCpuCount>
    <ResultsDirectory>.\TestResults</ResultsDirectory>
  </RunConfiguration>

  <TestRunParameters>
    
    <!--ENVIRONMENT-->
    <Parameter name="FunctionalTest:Environment" value="Production" />

    <!--APPLICATION-->
    <Parameter name="FunctionalTest:Application:Environment" value="PROD" />
    <Parameter name="FunctionalTest:Application" value="TEST" />
    <Parameter name="FunctionalTest:NoFlagsPresent:Application" value="axis" />

    <!--FLAG NAMES-->
    <Parameter name="FunctionalTest:FlagName" value="FunctionalTestingflag" />
    <Parameter name="FunctionalTest:FlagName:Verification" value="VerificationFlag" />
    <Parameter name="FunctionalTest:FlagName:Enabled" value="FunctionalTestingflagForEnabled" />
    <Parameter name="FunctionalTest:FlagName:BRE" value="Test-BRE-001" />
    <Parameter name="FunctionalTest:FlagName:BRE:Complementary" value="Test-BRE-001-Complement" />
    <Parameter name="FunctionalTest:BRE:Name" value="TestFeatureRule" />

    <!--KEYVAULT-->
    <Parameter name="FunctionalTest:KeyVault:Endpoint" value="https://kv-exp-prod-eus.vault.azure.net" />

    <!--AAD SETTNGS-->
    <Parameter name="FunctionalTest:AAD:Authority" value="https://login.microsoftonline.com/microsoft.onmicrosoft.com" />
    <Parameter name="FunctionalTest:AAD:ClientId" value="cc1b9d80-0cfd-42dc-aea1-c610b6393ab9" />
    <Parameter name="FunctionalTest:AAD:ClientSecret" value="" />
    <Parameter name="FunctionalTest:InvalidAAD:ClientId" value="0155af7d-472f-40dc-bc8e-78d2154e7c75" />
    <Parameter name="FunctionalTest:InvalidAAD:ClientSecret" value="" />
    <Parameter name="FunctionalTest:UserAssignedClientId" value="f7ffc57a-e97c-484a-a42a-dacb10f7f03e" />

    <!--FEATURE FLAG API SETTNGS-->
    <Parameter name="FunctionalTest:FxpFlighting:Endpoint" value="https://feature-flights-management-api-prod-eus.azurewebsites.net" />
    <Parameter name="FunctionalTest:FxpFlighting:AAD:ResourceId" value="cc1b9d80-0cfd-42dc-aea1-c610b6393ab9" />
    
  </TestRunParameters>
</RunSettings>