name: CI

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  build:
    name: build
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
    
    - name: Setup .NET 3.1.x
      uses: actions/setup-dotnet@v1
      with:
        dotnet-version: 3.1.x
   
    - name: Setup .NET 6.x
      uses: actions/setup-dotnet@v1
      with:
        dotnet-version: 6.x.x
    
    - name: Setup NuGet.exe
      uses: NuGet/setup-nuget@v2.0.0
          
    - name: Restore dependencies
      run: nuget restore  src/service/Microsoft.FeatureFlighting.sln
    
    - name: Build
      run: dotnet build src/service/Microsoft.FeatureFlighting.sln --no-restore
    
    - name: Test
      run: dotnet test src/service/Microsoft.FeatureFlighting.sln --no-build --verbosity normal /p:CollectCoverage=true /p:CoverletOutput=TestResults/ /p:CoverletOutputFormat=lcov

    - name: Restore dependencies (Functional Tests)
      run: dotnet restore tests/functional/Microsoft.FeatureFlighting.Tests.Functional.sln
    
    - name: Build (Functional Tests)
      run: dotnet build tests/functional/Microsoft.FeatureFlighting.Tests.Functional.sln --no-restore
